asgiref
asttokens
backcall
cachetools
certifi
charset-normalizer
colorama
comm
debugpy
decorator
Django
django-cors-headers
executing
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
gunicorn
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
mysql-connector-python
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
proto-plus
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
Pygments
python-dateutil
pytz
pyzmq
requests
rsa
six
SQLAlchemy
sqlparse
stack-data
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
